body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color: rgba(23, 132, 221, 0.87);

}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua,blue);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}